set --universal catppuccin_rosewater "#f5e0dc"
set --universal catppuccin_flamingo "#f2cdcd"
set --universal catppuccin_pink "#f5c2e7"
set --universal catppuccin_mauve "#cba6f7"
set --universal catppuccin_red "#f38ba8"
set --universal catppuccin_maroon "#eba0ac"
set --universal catppuccin_peach "#fab387"
set --universal catppuccin_yellow "#f9e2af"
set --universal catppuccin_green "#a6e3a1"
set --universal catppuccin_teal "#94e2d5"
set --universal catppuccin_sky "#89dceb"
set --universal catppuccin_sapphire "#74c7ec"
set --universal catppuccin_blue "#89b4fa"
set --universal catppuccin_lavender "#b4befe"
set --universal catppuccin_text "#cdd6f4"
set --universal catppuccin_subtext1 "#bac2de"
set --universal catppuccin_subtext0 "#a6adc8"
set --universal catppuccin_overlay2 "#9399b2"
set --universal catppuccin_overlay1 "#7f849c"
set --universal catppuccin_overlay0 "#6c7086"
set --universal catppuccin_surface2 "#585b70"
set --universal catppuccin_surface1 "#45475a"
set --universal catppuccin_surface0 "#313244"
set --universal catppuccin_base "#1e1e2e"
set --universal catppuccin_mantle "#181825"
set --universal catppuccin_crust "#11111b"

# colors
set --universal hydro_color_start $catppuccin_green
set --universal hydro_color_pwd $catppuccin_blue
set --universal hydro_color_git $catppuccin_mauve
set --universal hydro_color_error $catppuccin_red
set --universal hydro_color_prompt $catppuccin_green
set --universal hydro_color_duration $catppuccin_rosewater

# others
set --universal hydro_multiline true
set --universal hydro_symbol_git_dirty "*"
set --universal hydro_space_before_prompt true
